:root {
    --bg-color: #e2e2e3;
    --inverted-bg-color: #050540;
    --primary-color: #071768;
    --secondary-color: #0749ce;
    --inverted-primary-color: #45fa18;
    --inverted-secondary-color: #2da111;
}
